<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="online.padev.kariti"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_kariti"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_kariti_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kariti"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="26">
        <activity
            android:name=".AnimacaoCorrecao"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EdicaoProva"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EditarProva"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".DetalheCorrecao"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CameraxActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".GaleriaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VisualProvaCorrigidaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VisualProvaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProvaCartoesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GabaritoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CadProvaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditarAlunoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditarTurmaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DadosTurmaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VisualTurmaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CadTurmaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EscolaDesativadaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProvaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TurmaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AtualizarSenha"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VisualAlunoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CadAlunoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlunoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetalhesEscolaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VisualEscolaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CodSenhaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>